<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<div class="container">
    <div class="card">

        {% if user.is_authenticated %}
            <h1>Bem-vindo 👋</h1>
            <p>Logado como: <strong>{{ user.username }}</strong></p>

            <form action="/logout/" method="POST">
                {% csrf_token %}
                <button class="btn btn-logout">Sair</button>
            </form>

        {% else %}
            <h1>Você não está logado</h1>

            <a href="/login/">
                <button class="btn btn-login">Entrar</button>
            </a>

            <a href="/register/">
                <button class="btn btn-login">Cadastrar</button>
            </a>
        {% endif %}

    </div>
</div>

</body>
</html>