{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Cadastro</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<div class="card">
    <h2>Cadastro</h2>

    <form method="POST">
        {% csrf_token %}

        <div class="input-group">
            <input type="text" name="cpf" placeholder="CPF">
        </div>

        <div class="input-group">
            <input type="password" name="password" placeholder="Senha">
        </div>

        <button class="btn btn-register">Cadastrar</button>
    </form>

    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}

    {% if success %}
        <p class="success">{{ success }}</p>
    {% endif %}

    <a href="/login/" class="link">Já tenho conta</a>
</div>

</body>
</html>